In [2]:
import numpy as np
import pandas as pd
np.random.seed(1)

In [4]:
df = pd.read_csv('data/image_labels.csv')

In [5]:
df.head()

                  filename  xmin  ymin  xmax  ymax       class
0  1478019952686311006.jpg   950   574  1004   620         car
1  1478019952686311006.jpg  1748   482  1818   744  pedestrian
2  1478019953180167674.jpg   872   586   926   632         car
3  1478019953689774621.jpg   686   566   728   618       truck
4  1478019953689774621.jpg   716   578   764   622         car

In [6]:
grouped = df.groupby('filename')

In [7]:
len(df)

93086

In [8]:
grouped.apply(lambda x: len(x)).value_counts()

5     1309
6     1183
1     1164
4     1117
2     1105
7     1034
3     1032
8      971
9      732
10     664
12     513
11     501
13     365
14     272
15     229
16     187
17     173
18     125
19      95
20      62
23      50
22      47
21      46
24      30
26      19
25      15
27      12
29       4
31       3
30       2
28       2
dtype: int64

In [9]:
gb = df.groupby('filename')

In [10]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [11]:
len(grouped_list)

13063

In [12]:
train_index = np.random.choice(len(grouped_list), size=10450, replace=False)
test_index = np.setdiff1d(list(range(13063)), train_index)

In [13]:
len(train_index), len(test_index)

(10450, 2613)

In [14]:
10450 + 2613

13063

In [15]:
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [16]:
len(train), len(test)

(73892, 19194)

In [17]:
73892 + 19194

93086

In [18]:
train.to_csv('data/train_labels.csv', index=None)
test.to_csv('data/test_labels.csv', index=None)