In [8]:
# Library imports

import pandas as pd
import numpy as np
import cv2
from PIL import Image

In [9]:
df = pd.read_csv('data/labels/labels.csv')

In [10]:
df.head()

                  filename  xmin  ymin  xmax  ymax       class
0  1478019952686311006.jpg   950   574  1004   620         car
1  1478019952686311006.jpg  1748   482  1818   744  pedestrian
2  1478019953180167674.jpg   872   586   926   632         car
3  1478019953689774621.jpg   686   566   728   618       truck
4  1478019953689774621.jpg   716   578   764   622         car

In [11]:
len(df)

93086

In [12]:
df['class'].value_counts()

car             60788
trafficLight    17253
pedestrian       9866
truck            3503
biker            1676
Name: class, dtype: int64

In [13]:
grouped = df.groupby('class')

In [14]:
biker_group = grouped.get_group('biker')

In [15]:
biker_group.head()

                    filename  xmin  ymin  xmax  ymax  class
159  1478019971686116476.jpg   584   568   638   606  biker
166  1478019971686116476.jpg   858   542   908   602  biker
169  1478019972180014279.jpg   498   570   552   608  biker
181  1478019972685986697.jpg   418   566   470   610  biker
194  1478019973185520968.jpg   332   564   388   612  biker

In [16]:
biker_group['filename'].nunique()

1076

In [17]:
len(biker_group), len(biker_group['filename'].unique().tolist())

(1676, 1076)

In [18]:
biker_filenames = biker_group['filename'].unique().tolist()

In [19]:
new_df = df.loc[df['filename'].isin(biker_filenames)]

In [20]:
new_df['filename'].nunique()

1076

In [21]:
new_df['class'].value_counts()

car             4440
trafficLight    2522
pedestrian      1811
biker           1676
truck            338
Name: class, dtype: int64

In [22]:
truck_group = grouped.get_group('truck')

In [23]:
truck_group.head()

                   filename  xmin  ymin  xmax  ymax  class
3   1478019953689774621.jpg   686   566   728   618  truck
8   1478019954186238236.jpg   662   562   710   616  truck
13  1478019954685370994.jpg   640   560   694   614  truck
17  1478019955185244088.jpg   618   558   678   614  truck
22  1478019955679801306.jpg   598   554   664   612  truck

In [24]:
len(truck_group)

3503

In [25]:
truck_group['filename'].nunique()

2439

In [26]:
truck_filenames = truck_group['filename'].unique().tolist()

In [27]:
truck_df = df.loc[df['filename'].isin(truck_filenames)]

In [28]:
truck_df['filename'].nunique()

2439

In [29]:
final_df = pd.concat([new_df, truck_df])

In [30]:
len(df)

93086

In [31]:
# final_df.to_csv('data/labels/short_labels.csv', index=False)

In [32]:
filename_grouped = final_df.groupby('filename')

In [33]:
len(filename_grouped)

3303

In [34]:
grouped_list = [filename_grouped.get_group(x) for x in filename_grouped.groups]

In [35]:
train_index = np.random.choice(len(filename_grouped), size=2642, replace=False)
test_index = np.setdiff1d(list(range(3303)), train_index)

In [36]:
len(train_index), len(test_index)

(2642, 661)

In [37]:
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [38]:
len(train), len(test)

(26568, 6560)

In [39]:
len(final_df)

33128

In [41]:
final_df['class'].value_counts()

car             17200
trafficLight     6358
truck            3841
pedestrian       3732
biker            1997
Name: class, dtype: int64

In [40]:
# train.to_csv('data/labels/train_labels.csv', index=None)
# test.to_csv('data/labels/test_labels.csv', index=None)