In [1]:
import cv2
import pandas as pd
import numpy as np
from PIL import Image

In [2]:
df = pd.read_csv('data/labels/labels.csv', header=None)

In [ ]:
df = pd.DataFrame(df[0].str.split(' ').tolist(),
                                   columns = ['filename','xmin', 'ymin', 'xmax', 'ymax', 'occluded', 'class', 'attributes'])

In [5]:
del df['occluded']

In [6]:
del df['attributes']

In [7]:
df['class'] = df['class'].str.strip('"')

In [8]:
df.head()

                  filename  xmin ymin  xmax ymax       class
0  1478019952686311006.jpg   950  574  1004  620         car
1  1478019952686311006.jpg  1748  482  1818  744  pedestrian
2  1478019953180167674.jpg   872  586   926  632         car
3  1478019953689774621.jpg   686  566   728  618       truck
4  1478019953689774621.jpg   716  578   764  622         car

In [9]:
df.dtypes

filename    object
xmin        object
ymin        object
xmax        object
ymax        object
class       object
dtype: object

In [10]:
df[['xmin','ymin', 'xmax', 'ymax']] = df[['xmin','ymin', 'xmax', 'ymax']].apply(pd.to_numeric)

In [11]:
df.dtypes

filename    object
xmin         int64
ymin         int64
xmax         int64
ymax         int64
class       object
dtype: object

In [12]:
df.to_csv('data/labels/labels.csv', index=False)